<!DOCTYPE html>
<html>
<head>

    <title>Upgrade Plan</title>

    <link rel="stylesheet"
    href="/static/style.css">

</head>

<body>

<div class="container">

    <div class="hero">

        <h1>
            Upgrade to Premium
        </h1>

        <p>
            Unlock VIP AI Forex Signals
        </p>

    </div>

    <div class="dashboard">

        <div class="card">

            <h2>Starter Plan</h2>

            <br>

            <h1>KES 500</h1>

            <br>

            <p>
                • Daily AI Signals<br>
                • Telegram Alerts<br>
                • RSI Analysis
            </p>

            <br>

            <input
            type="text"
            placeholder="Enter M-Pesa Number">

            <br><br>

            <button>
                Pay with M-Pesa
            </button>

        </div>

        <div class="card">

            <h2>VIP Plan</h2>

            <br>

            <h1>KES 1500</h1>

            <br>

            <p>
                • Premium Signals<br>
                • AI Market Analysis<br>
                • VIP Telegram Group<br>
                • Priority Alerts
            </p>

            <br>

            <input
            type="text"
            placeholder="Enter M-Pesa Number">

            <br><br>

            <button>
                Pay with M-Pesa
            </button>

        </div>

    </div>

</div>

</body>
</html>